Repository Lokathor/bytemuck, pull requests merged in 2023-09, with the labels that each got.

#200 Improve assembly of Contiguous derive
  derive/src/traits.rs
Labels: semver-patch, semver-derive

#193 Add functions for writing zeroed bytes to `&mut impl Zeroable` and `&mut [impl Zeroable]`
  src/lib.rs
Labels: semver-minor

#171 allow deriving `CheckedBitPattern` for enums with fields
  derive/src/lib.rs
  derive/src/traits.rs
  derive/tests/basic.rs
Labels: semver-minor, semver-derive
